﻿<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>Admin Panel</title>
	
	<link rel="stylesheet" href="public/css/global.css" />
	<link rel="stylesheet" href="public/css/style.css" />
	
	<!-- Include one of jTable styles. -->
	<link href="public/plugin/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
	<!-- Include one of jTable styles. -->
	<link href="public/plugin/jtable/themes/metro/blue/jtable.min.css" rel="stylesheet" type="text/css" />
	
	<script src="public/js/jquery.min.js"></script>
	<!-- Include jquery-ui script file. -->
	<script src="public/plugin/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
	<!-- Include jTable script file. -->
	<script src="public/plugin/jtable/jquery.jtable.min.js" type="text/javascript"></script>
	
  </head>
  <body>
	<div id="wraper">
	
		<div id="header">
			<div class="container">
				<div class="row">
					<div class="col col-4">
						<div class="admin-info">Admin {{company}}</div>
					</div>
					<div class="col col-8">
						<div class="admin-user right">Xin chào: <strong class="logged_username">{{logged_username}}</strong> | <a href="/admin/logout" class="logout">Thoát</a></div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="main">
			<div class="row">
				<div class="col col-2" id="sidebar">
					<ul class="menu">
					
						<li> <a href="/admin/post/" class="cat">Bài Viết</a></li>
						<li> <a href="/admin/post/create">Viết bài</a></li>
						<li> <a href="/admin/post/">Tất cả</a></li>
						<li> <a href="/admin/category">Chuyên mục</a></li>
						
						<li> <a href="/admin/item/" class="cat">Sản Phẩm</a></li>
						<li> <a href="/admin/item/create">Thêm</a></li>
						<li> <a href="/admin/item/">Tất cả</a></li>
						<li> <a href="/admin/product/">Loại sản phẩm</a></li>
						
						<li> <a href="/admin/slider/" class="cat">Slider</a></li>
						<li> <a href="/admin/slider/add">Thêm</a></li>
						<li> <a href="/admin/slider/">Tất cả</a></li>
						
						<li> <a href="javascript:void(0);" class="cat">Tùy Chỉnh</a></li>
						<li> <a href="/admin/menu/">Menu</a></li>
						<li> <a href="/admin/layout/">Giao diện</a></li>
						
						<li> <a href="javascript:void(0);" class="cat">Hệ Thống</a></li>
						<li> <a href="/admin/backup_restore/">Sao lưu - Phục hồi</a></li>
						<li> <a href="/admin/user/">Người dùng</a></li>
						<li> <a href="/admin/logout">Thoát</a></li>
						
					</ul>
				</div>
				<div class="col col-10" id="main-content">
					<form action="">
						<div class="form-group">
							<label for="">Tiêu đề:</label>
							<input type="text"  class="form-control input-sm" Tôi có thể ăn thuy tinh mà không vấn đề gì/>
						</div>
						<div class="form-group">
							<label for="">Mô tả:</label>
							<textarea name="" id=""  class="form-control"></textarea>
						</div>
						<div class="form-group">
							<label for="">Chuyên mục</label>
							<select name="" id="" class="form-control input-sm">
								<option value="">1</option>
								<option value="">2</option>
								<option value="">3</option>
								<option value="">4</option>
							</select>
						</div>
						<div class="form-group">
							<label >Trạng thái:</label>
							<div class="checkbox">
								<label><input type="checkbox"/> có</label>
								<label><input type="checkbox"/> có</label>
								<label><input type="checkbox"/> có</label>
							</div>
						</div>
						<div class="form-group">
							<label>Trạng thái:</label>
							<div class="radio">
								<label><input type="radio"/> có</label>
								<label><input type="radio"/> có</label>
								<label><input type="radio"/> có</label>
							</div>
						</div>
						<div class="form-group">
							<input type="button" class="btn" value="Lưu lại"/>
							<a href="#" class="btn">Hủy</a>
						</div>
					</form>
					
					<table border="1">
					  <tr>
						<th>Header 1</th>
						<th>Header 2</th>
					  </tr>
					  <tr>
						<td>row 1 col 1</td>
						<td>row 1 col 2</td>
					  </tr>
					  <tr>
						<td>row 2 col 1</td>
						<td>row 2 col 2</td>
					  </tr>
					</table>
					
					
					<div id="data"></div>
					
					<script type="text/javascript">
					
					</script>
				</div>
			</div>
		</div>
		
		<div id="footer"></div>
	</div>
  </body>
</html>