html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body {margin: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}
audio,canvas,progress,video {display: inline-block;vertical-align: baseline;}
audio:not([controls]) {display: none;height: 0;}
[hidden],template {display: none;}
a {background-color: transparent;}
a:active,a:hover {outline: 0;}
abbr[title] {border-bottom: 1px dotted;}
b,strong {font-weight: bold;}
dfn {font-style: italic;}
h1 {font-size: 2em;margin: 0.67em 0;}
mark {background: #ff0;color: #000;}
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {border: 0;}
svg:not(:root) {overflow: hidden;}
figure {margin: 1em 40px;}
hr {-webkit-box-sizing: content-box; -moz-box-sizing: content-box;box-sizing: content-box;height: 0;}
pre {overflow: auto;}
code,kbd,pre,samp {font-family: monospace, monospace;font-size: 1em;}
button,input,optgroup,select,textarea {color: inherit;font: inherit;margin: 0;}
button {overflow: visible;}
button,select {text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled],html input[disabled] {cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
input {line-height: normal;}
input[type="checkbox"],input[type="radio"] {-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;padding: 0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {-webkit-appearance: textfield;-webkit-box-sizing: content-box; -moz-box-sizing: content-box;box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend {border: 0;padding: 0;}
textarea {overflow: auto;}
optgroup {font-weight: bold;}
table {border-collapse: collapse;border-spacing: 0;}
td,th {padding: 0;}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html {font-size: 10px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;background-color: #ffffff;}
input,button,select,textarea {font-family: inherit;font-size: inherit;line-height: inherit;}
a {color: #337ab7;text-decoration: none;}
a:hover,a:focus {color: #23527c;text-decoration: underline;}
a:focus {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
figure {margin: 0;}
img {vertical-align: middle;}
.img-responsive {display: block;max-width: 100%;height: auto;}
.img-rounded {border-radius: 6px;}
.img-thumbnail {padding: 4px;line-height: 1.42857143;background-color: #ffffff;border: 1px solid #dddddd;border-radius: 4px;-webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;display: inline-block;max-width: 100%;height: auto;}
.img-circle {border-radius: 50%;}
hr {margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #eeeeee;}
.sr-only {position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0;}
.sr-only-focusable:active,.sr-only-focusable:focus {position: static;width: auto;height: auto;margin: 0;overflow: visible;clip: auto;}
[role="button"] {cursor: pointer;}
fieldset {padding: 0;margin: 0;border: 0;min-width: 0;}
legend {display: block;width: 100%;padding: 0;margin-bottom: 20px;font-size: 21px;line-height: inherit;color: #333333;border: 0;border-bottom: 1px solid #e5e5e5;}
label {display: inline-block;max-width: 100%;margin-bottom: 3px;font-weight: bold;}
input[type="search"] {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
input[type="radio"],input[type="checkbox"] {margin: 4px 0 0;margin-top: 1px 9px;line-height: normal;}
input[type="file"] {display: block;}
input[type="range"] {display: block;width: 100%;}
select[multiple],select[size] {height: auto;}
input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
output {display: block;padding-top: 7px;font-size: 14px;line-height: 1.42857143;color: #555555;}
.form-control {height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555555;background-color: #ffffff;background-image: none;border: 1px solid #cccccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
.form-control:focus {border-color: #66afe9;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);}
.form-control::-moz-placeholder {color: #999999;opacity: 1;}
.form-control:-ms-input-placeholder {color: #999999;}
.form-control::-webkit-input-placeholder {color: #999999;}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {background-color: #eeeeee;opacity: 1;}
.form-control[disabled],fieldset[disabled] .form-control {cursor: not-allowed;}
textarea.form-control {height: auto;}
input[type="search"] {-webkit-appearance: none;}
@media screen and (-webkit-min-device-pixel-ratio: 0) {input[type="date"].form-control,input[type="time"].form-control,input[type="datetime-local"].form-control,input[type="month"].form-control {line-height: 34px;}
                                                       input[type="date"].input-sm,input[type="time"].input-sm,input[type="datetime-local"].input-sm,input[type="month"].input-sm,.input-group-sm input[type="date"],.input-group-sm input[type="time"],.input-group-sm input[type="datetime-local"],.input-group-sm input[type="month"] {line-height: 30px;}
                                                       input[type="date"].input-lg,input[type="time"].input-lg,input[type="datetime-local"].input-lg,input[type="month"].input-lg,.input-group-lg input[type="date"],.input-group-lg input[type="time"],.input-group-lg input[type="datetime-local"],.input-group-lg input[type="month"] {line-height: 46px;}
}
.form-group {margin-bottom: 15px;}
.radio,.checkbox {position: relative;display: block;margin-top: 10px;margin-bottom: 10px;}
.radio label,.checkbox label {min-height: 20px;padding-left: 20px;margin-bottom: 0;font-weight: normal;cursor: pointer;}
.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"] {position: absolute;margin-left: -20px;margin-top: 4px \9;}
.radio + .radio,.checkbox + .checkbox {margin-top: -5px;}
.radio-inline,.checkbox-inline {position: relative;display: inline-block;padding-left: 20px;margin-bottom: 0;vertical-align: middle;font-weight: normal;cursor: pointer;}
.radio-inline + .radio-inline,.checkbox-inline + .checkbox-inline {margin-top: 0;margin-left: 10px;}
input[type="radio"][disabled],input[type="checkbox"][disabled],input[type="radio"].disabled,input[type="checkbox"].disabled,fieldset[disabled] input[type="radio"],fieldset[disabled] input[type="checkbox"] {cursor: not-allowed;}
.input-xs {height: 22px!important;padding: 1px 6px!important;font-size: 11px!important;line-height: 11px!important;border-radius: 2px;}
.input-sm {height: 30px!important;padding: 5px 10px!important;font-size: 12px!important;line-height: 1.5!important;border-radius: 3px;}
select.input-sm {height: 30px;line-height: 30px;}
textarea.input-sm,select[multiple].input-sm {height: auto;}
.input-lg {height: 46px;padding: 10px 16px;font-size: 18px;line-height: 1.3333333;border-radius: 6px;}
select.input-lg {height: 46px;line-height: 46px;}
textarea.input-lg,select[multiple].input-lg {height: auto;}
.btn {display: inline-block;margin-bottom: 0;font-weight: normal;text-align: center;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;background-image: none;border: 1px solid transparent;white-space: nowrap;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;border-radius: 4px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}
.btn:hover,.btn:focus,.btn.focus {color: #333333;text-decoration: none;}
.btn:active,.btn.active {outline: 0;background-image: none;-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn {cursor: not-allowed;opacity: 0.65;filter: alpha(opacity=65);-webkit-box-shadow: none;box-shadow: none;}
a.btn.disabled,fieldset[disabled] a.btn {pointer-events: none;}
.btn {color: #333333;background-color: #ffffff;border-color: #cccccc;}
.btn:focus,.btn.focus {color: #333333;background-color: #e6e6e6;border-color: #8c8c8c;}
.btn:hover {color: #333333;background-color: #e6e6e6;border-color: #adadad;}
.btn:active,.btn.active,.open > .dropdown-toggle.btn {color: #333333;background-color: #e6e6e6;border-color: #adadad;}
.btn:active:hover,.btn.active:hover,.open > .dropdown-toggle.btn:hover,.btn:active:focus,.btn.active:focus,.open > .dropdown-toggle.btn:focus,.btn:active.focus,.btn.active.focus,.open > .dropdown-toggle.btn.focus {color: #333333;background-color: #d4d4d4;border-color: #8c8c8c;}
.btn:active,.btn.active,.open > .dropdown-toggle.btn {background-image: none;}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn,.btn.disabled:hover,.btn[disabled]:hover,fieldset[disabled] .btn:hover,.btn.disabled:focus,.btn[disabled]:focus,fieldset[disabled] .btn:focus,.btn.disabled.focus,.btn[disabled].focus,fieldset[disabled] .btn.focus,.btn.disabled:active,.btn[disabled]:active,fieldset[disabled] .btn:active,.btn.disabled.active,.btn[disabled].active,fieldset[disabled] .btn.active {background-color: #ffffff;border-color: #cccccc;}
.btn .badge {color: #ffffff;background-color: #333333;}
.btn-link {color: #337ab7;font-weight: normal;border-radius: 0;}
.btn-link,.btn-link:active,.btn-link.active,.btn-link[disabled],fieldset[disabled] .btn-link {background-color: transparent;-webkit-box-shadow: none;box-shadow: none;}
.btn-link,.btn-link:hover,.btn-link:focus,.btn-link:active {border-color: transparent;}
.btn-link:hover,.btn-link:focus {color: #23527c;text-decoration: underline;background-color: transparent;}
.btn-link[disabled]:hover,fieldset[disabled] .btn-link:hover,.btn-link[disabled]:focus,fieldset[disabled] .btn-link:focus {color: #777777;text-decoration: none;}
.btn-lg {padding: 10px 16px!important;font-size: 18px!important;line-height: 1.3333333;border-radius: 6px;}
.btn-sm {padding: 5px 10px!important;font-size: 12px!important;line-height: 1.5!important;border-radius: 3px;}
.btn-xs {padding: 1px 5px!important;font-size: 12px!important;line-height: 1.5!important;border-radius: 3px;}
.btn-block {display: block;width: 100%;}
.btn-block + .btn-block {margin-top: 5px;}
input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block {width: 100%;}
.embed-responsive {position: relative;display: block;height: 0;padding: 0;overflow: hidden;}
.embed-responsive .embed-responsive-item,.embed-responsive iframe,.embed-responsive embed,.embed-responsive object,.embed-responsive video {position: absolute;top: 0;left: 0;bottom: 0;height: 100%;width: 100%;border: 0;}
.embed-responsive-16by9 {padding-bottom: 56.25%;}
.embed-responsive-4by3 {padding-bottom: 75%;}
.clearfix:before,.clearfix:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after {content: " ";display: table;}
.clearfix:after,.form-horizontal .form-group:after {clear: both;}
.center-block {display: block;margin-left: auto;margin-right: auto;}
.pull-right {float: right !important;}
.pull-left {float: left !important;}
.hide {display: none !important;}
.show {display: block !important;}
.invisible {visibility: hidden;}
.text-hide {font: 0/0 a;color: transparent;text-shadow: none;background-color: transparent;border: 0;}
.hidden {display: none !important;}
.affix {position: fixed;}
img{width:100%;height:auto;display:inline-block;vertical-align:middle;}
img:hover{}
table{width:100%; /* border:none; border-top: 1px solid grey; border-right: 1px solid grey; */}
table th,table td{padding:.3em;text-align:left; /* border-bottom: 1px solid grey; border-left: 1px solid grey; */}
table tbody>:nth-child(2n-1){background:#ddd}
.container{margin:0px auto;padding:0px;}
.row{width:100%;margin:0;padding:0;font-size:0px;position:relative;}
.row:before, .row:after{content:" ";}
.row:after{clear:both;}
.col{display:inline-block;overflow:hidden;font-size:14px;vertical-align:top;}
.col-12{width:100%;}
.col-11{width:91.66666667%;}
.col-10{width:83.33333333%;}
.col-9{width:75%;}
.col-8{width:66.66666667%;}
.col-7{width:58.33333333%;}
.col-6{width:50%;}
.col-5{width:41.66666667%;}
.col-4{width:33.33333333%;}
.col-3{width:25%;}
.col-2{width:16.66666667%;}
.col-1{width:8.33333333%;}
@media all and (max-width:992px){.col-md-12{width:100%;}
                                 .col-md-11{width:91.66666667%;}
                                 .col-md-10{width:83.33333333%;}
                                 .col-md-9{width:75%;}
                                 .col-md-8{width:66.66666667%;}
                                 .col-md-7{width:58.33333333%;}
                                 .col-md-6{width:50%;}
                                 .col-md-5{width:41.66666667%;}
                                 .col-md-4{width:33.33333333%;}
                                 .col-md-3{width:25%;}
                                 .col-md-2{width:16.66666667%;}
                                 .col-md-1{width:8.33333333%;}
}
@media all and (max-width:768px){.col-sm-12{width:100%;}
                                 .col-sm-11{width:91.66666667%;}
                                 .col-sm-10{width:83.33333333%;}
                                 .col-sm-9{width:75%;}
                                 .col-sm-8{width:66.66666667%;}
                                 .col-sm-7{width:58.33333333%;}
                                 .col-sm-6{width:50%;}
                                 .col-sm-5{width:41.66666667%;}
                                 .col-sm-4{width:33.33333333%;}
                                 .col-sm-3{width:25%;}
                                 .col-sm-2{width:16.66666667%;}
                                 .col-sm-1{width:8.33333333%;}
}
@media all and (max-width:480px){.col-xs-12{width:100%;}
                                 .col-xs-11{width:91.66666667%;}
                                 .col-xs-10{width:83.33333333%;}
                                 .col-xs-9{width:75%;}
                                 .col-xs-8{width:66.66666667%;}
                                 .col-xs-7{width:58.33333333%;}
                                 .col-xs-6{width:50%;}
                                 .col-xs-5{width:41.66666667%;}
                                 .col-xs-4{width:33.33333333%;}
                                 .col-xs-3{width:25%;}
                                 .col-xs-2{width:16.66666667%;}
                                 .col-xs-1{width:8.33333333%;}
                                 .row .col{width:100%;}
}
.blocks-grid{font-size:0px;padding:0;margin:0;list-style:none;border:1px solid transparent;}
.blocks-grid:after{content:"";display:table;clear:both;}
.blocks-grid>li{font-size:14px;content:"";margin:0px;padding:0px;overflow:hidden;text-align:center;display:inline-block;vertical-align:bottom;*display:inline *zoom:1;}
.blocks-grid>li *{}
.blocks-grid-1>li{width:100%;}
.blocks-grid-2>li{width:50%;}
.blocks-grid-3>li{width:33.33333333%;}
.blocks-grid-4>li{width:25%;}
.blocks-grid-5>li{width:20%;}
.blocks-grid-6>li{width:16.66666667%;}
.blocks-grid-7>li{width:14.28571429%;}
.blocks-grid-8>li{width:12,5%;}
.blocks-grid-9>li{width:11.11111111%;}
.blocks-grid-10>li{width:10%;}
.blocks-grid-11>li{width:9.09090909%;}
.blocks-grid-12>li{width:8.33333333%;}
@media all and (max-width:992px){.blocks-grid-md-1>li{width:100%;}
                                 .blocks-grid-md-2>li{width:50%;}
                                 .blocks-grid-md-3>li{width:33.33333333%;}
                                 .blocks-grid-md-4>li{width:25%;}
                                 .blocks-grid-md-5>li{width:20%;}
                                 .blocks-grid-md-6>li{width:16.66666667%;}
                                 .blocks-grid-md-7>li{width:14.28571429%;}
                                 .blocks-grid-md-8>li{width:12,5%;}
                                 .blocks-grid-md-9>li{width:11.11111111%;}
                                 .blocks-grid-md-10>li{width:10%;}
                                 .blocks-grid-md-11>li{width:9.09090909%;}
                                 .blocks-grid-md-12>li{width:8.33333333%;}
}
@media all and (max-width:768px){.blocks-grid-sm-1>li{width:100%;}
                                 .blocks-grid-sm-2>li{width:50%;}
                                 .blocks-grid-sm-3>li{width:33.33333333%;}
                                 .blocks-grid-sm-4>li{width:25%;}
                                 .blocks-grid-sm-5>li{width:20%;}
                                 .blocks-grid-sm-6>li{width:16.66666667%;}
                                 .blocks-grid-sm-7>li{width:14.28571429%;}
                                 .blocks-grid-sm-8>li{width:12,5%;}
                                 .blocks-grid-sm-9>li{width:11.11111111%;}
                                 .blocks-grid-sm-10>li{width:10%;}
                                 .blocks-grid-sm-11>li{width:9.09090909%;}
                                 .blocks-grid-sm-12>li{width:8.33333333%;}
}
@media all and (max-width:480px){.blocks-grid-xs-1>li{width:100%;}
                                 .blocks-grid-xs-2>li{width:50%;}
                                 .blocks-grid-xs-3>li{width:33.33333333%;}
                                 .blocks-grid-xs-4>li{width:25%;}
                                 .blocks-grid-xs-5>li{width:20%;}
                                 .blocks-grid-xs-6>li{width:16.66666667%;}
                                 .blocks-grid-xs-7>li{width:14.28571429%;}
                                 .blocks-grid-xs-8>li{width:12,5%;}
                                 .blocks-grid-xs-9>li{width:11.11111111%;}
                                 .blocks-grid-xs-10>li{width:10%;}
                                 .blocks-grid-xs-11>li{width:9.09090909%;}
                                 .blocks-grid-xs-12>li{width:8.33333333%;}
}
.italic{font-style:italic;}
.left{float:left}
.right{float:right}
.middle{margin:auto;vertical-align:middle;}
.text-left{text-align:left !important;}
.text-right{text-align:right !important;}
.text-center{text-align:center !important;}
.text-justify{text-align:justify !important;}
.rounded{border-radius:50%;}
.hide{display:none! important;}
.big{font-size:120%;}
.small{font-size:80%;}
.bg-default{background-color:#ddd;}
.bg-primary{background-color:#2b86c1;}