div.jtable-main-container{
    border-top: none;
}
div.jtable-main-container div.jtable-title{
    border-radius:0px !important;
    background: #cccccc !important;
    border:none !important;
}
div.jtable-main-container table.jtable thead{
    background: #ddd !important;
    border-top: none !important;
}
div.jtable-main-container table.jtable thead .jtable-toolbarsearch{
    font-weight:normal !important;
}
div.jtable-main-container table.jtable tbody{
    background: #ddd !important;
}
div.jtable-main-container div.jtable-title div.jtable-title-text {
    border:none !important;
}
div.jtable-main-container div.jtable-bottom-panel{
    border-radius:0px !important;
}
.ui-dialog{
    padding:0px!important;
}
.ui-dialog-titlebar{
    border:none!important;
    border-bottom:none!important;
}
.ui-dialog .formError {
    z-index: 99999!important;
}
a.ui-tabs-anchor{
    outline:none
}
.ui-widget-content{
    font-size:1em!important;
}

ul.tagit.ui-widget{min-height:25.4px;}

a:hover{text-decoration:none;}

ul{list-style:none; margin:0px; padding:0px;}
#header{background-color:#222A2D; color:#bac2c8; line-height:35px;}
.admin-info{margin-left:15px; font-size:1.4em;}
.admin-user{margin-right:15px;}
.admin-user .logged_username{}
.admin-user .logout{text-decoration:underline; color:#fff;}
#data .jtable-main-container table tbody{ border-right: 1px solid #c8c8c8;}

#main{}

#main #sidebar{background-color:#222A2D; color:#bac2c8; height:100%;margin-top:15px;}
#main #sidebar ul.menu{}
#main #sidebar ul.menu li{line-height:30px; border-bottom:1px solid #ccc; }
#main #sidebar ul.menu li:last-child{border-bottom:none;}
#main #sidebar ul.menu li a{border-left: 3px solid #4862A3; background-color:#F0F0F0; color:#000; font-size:0.9em; display:block; padding-left:20px;text-decoration:none;}
#main #sidebar ul.menu li a:hover, #main #sidebar ul.menu li a.active{border-left: 3px solid #CC3333; background-color:#F8F8F8; text-decoration:none;}
#main #sidebar ul.menu li a.cat{border-left: none; background-color:#222A2D; color:#bac2c8; font-weight:bold; padding:0 10px; line-height:34px; text-shadow: 0 1px 0 #000;}


#main #main-content{padding:15px; background-color:#fff;}
#tabs-menu{margin:0px; padding:0px; min-height:500px; border-top:none;}
#tabs-menu .ui-tabs-nav, .ui-tabs{padding:0px; /* border-left:none; border-right:none; */}

#system-options{margin:0px; padding:0px; border-top:none;}
#system-options .ui-tabs-nav{padding:0px; border-left:none; border-right:none;}
.ui-widget-content{/* border:0px solid transparent; */}
#system-options .ui-tabs-panel{padding:0px;}

.admin-menu{}
.admin-menu .menu-process{width:30px; height:30px; background-color:#fff; border-radius:50%;}
.admin-menu .menu-content{margin-top:15px; padding-top:15px; border-top: 1px solid #ddd;}
.dd-handle .ui-icon{padding-right:10px;}
.menu-content-edit .advance_custom{display:none;}
.menu-content-edit .advance_custom.show{display:block;}
.menu-content-edit .advance_notice{color:#333; cursor:pointer;}
.menu-content-edit .advance_notice:hover{text-decoration:underline;}
.menu-content-edit{border: 1px solid #ddd; border-top:none; margin-top:-6px; padding:10px;padding-left:50px; }
.menu-content-edit label, .menu-content-create label, form label{margin-top:7px; display:block;}
.menu-content-edit input[type="text"],.menu-content-edit textarea, .menu-content-create input[type="text"], .menu-content-create, form input[type="text"],  form input[type="password"], form textarea{width:100%!important;}
form.create_root_menu input[type="text"]{width:30%!important;}
.category_form{margin:0px 20px;}
.dd3-item>.menu-content-edit{display:none;}
.dd3-item.open>.menu-content-edit{display:block;}
.dd3-item.open>.menu-content-edit .btn{margin-left:10px;}
.btn-primary, .btn-primary:hover{background-color:#222A2D; /* border: 1px solid transparent; */ color:#bac2c8; border:none;}
.btn-save-order{margin-right:20px; display:none;}
.ui-autocomplete-loading {
    background: white url("./img/autocomple_loading.gif") right center no-repeat;
}

.breadcrums{list-style:none;margin:0px 0px 5px 0px;padding:7px 0px;background-color:#FFF;font-size:13px; border-bottom:2px solid #ccc;}
.breadcrums>li{display:inline-block;color:#000;font-size:1.3em; font-weight:bold; text-shadow: 0 1px 0 #fff;}
.breadcrums>li a{color:#000; font-weight:bold; text-shadow: 0 1px 0 #fff;}
.breadcrums>li:after{content:' / ';color:#000;font-weight:bold; margin-right:5px;}
.breadcrums>li:last-child:after{content:' ';}

.panel{}
.panel-title{background-color:#101010;color:#777;margin:0px;padding:0px;display:block;border-bottom:1px solid #252525;}
.panel-title h2{margin:0px;padding:5px;text-align:center;font-size:14px;color:#CC6633;}
.panel-body{}
.panel-body .tabs{background-color:#101010;}
.panel#fanpage .panel-body{border:3px solid #101010;text-align:center;}
.panel#fanpage .panel-body .invite{font-style:italic;text-align:center;font-size:.9em;color:#DB0505;}
.pagenavigation{padding:0px;margin:5px 0px;}
.pagenavigation ul{margin:0px;padding:0px;}
.pagenavigation li{display:inline-block;background-color:#101010;padding:.27em;margin:1px}
.pagenavigation li.active{background-color:#cc6633;}
.pagenavigation li:last-child{border:none;}
.pagenavigation li a,.pagenavigation li span{padding:.27em;}
.pagenavigation li,.pagenavigation li a{color:#fff;}
.pagenavigation li.prv a, .pagenavigation li.nxt a{color:red;font-style:italic;;}
.note{color:red;}
.guide{font-style:italic;}
.guide_download{color:#CC6633;text-decoration:underline;}

#thumbnailPreview {
    width: 100%;
    height: 270px;
    border: 2px solid #ccc;
    margin-top:7px;
}